<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./servers/logs/xmpinjection.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./histo/logs/xmpinjection_Fonctionnel_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>100</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -%msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.socgen.sgi" level="${root-level:-TRACE}" />
	
	<!-- <root level="info"> -->
	<root level="${root-level:-TRACE}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>